/*
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 02 COLOURS

Primary: #003b59

- Tints:
- Shades:
- Accent:
- Greys: #555 #333 #888 #767676

-- 05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER RADIUS

Default: 9px
11px

*/

/* /////////////////////// */
/* GENERAL STYLES */
/* /////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////////// */
/* HEADER */
/* /////////////////////// */

.header {
  padding: 2.4rem 1.6rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.logo {
  height: 5rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-element:link,
.nav-element:visited {
  padding: 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.nav-element:hover,
.nav-element:active {
  scale: 1.2;
  color: #4d768b;
}

/* /////////////////////// */
/* HERO SECTION */
/* /////////////////////// */

.hero {
  background-image: url(./img/hero-img.jpg);
  background-size: cover;
  background-position: 50% 15%;
  height: 25rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.hero-text-box h1,
.hero-text-box span,
.hero-text-box p {
  color: #eee;
}

.hero-text-box h1 {
  font-weight: 700;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6rem;
  width: 40rem;
  height: 100%;
  font-size: 3rem;
  background-color: rgba(51, 51, 51, 0.24);
}

.hero-text-box p {
  font-weight: 500;
  font-size: 2rem;
}

/* /////////////////////// */
/* SECOND NAV */
/* /////////////////////// */

.secondary-nav {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.sec-nav-container {
  padding: 1.2rem 3.6rem;
  display: flex;
  width: 100%;
  gap: 8rem;
  font-size: 1.8rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  padding: 0.8rem;
  border-radius: 11px;
  height: 2.4rem;
  width: 2.4rem;
  background-color: #4d768b;
  color: #eee;
}

/* /////////////////////// */
/* BLOG SECTION */
/* /////////////////////// */

.blog {
  padding: 9.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog-post {
  justify-self: center;
  width: 80%;
  height: 35rem;
  overflow: hidden;
  border-radius: 11px;
  background-color: #99b1bd;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.post-img-box {
  height: 20rem;
  overflow: hidden;
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-text-box {
  padding: 2.4rem;
}

.post-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.author {
  font-weight: 500;
  font-size: 1.6rem;
}
