/*
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 02 COLOURS

Primary: #003b59

- Tints: #4d768b #e6ebee
- Shades:
- Accent:
- Greys: #555 #333 #888 #767676

-- 05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER RADIUS

Default: 9px
11px

*/

/* /////////////////////// */
/* GENERAL STYLES */
/* /////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////////// */
/* HEADER */
/* /////////////////////// */

.header {
  height: 6rem;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 4.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.logo {
  height: 4rem;
  justify-self: left;
}

.main-nav {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-container {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-element:link,
.nav-element:visited {
  text-transform: uppercase;
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.nav-element:hover,
.nav-element:active {
  scale: 1.2;
  color: #4d768b;
}

.social {
  justify-self: right;
}

.navv {
  justify-self: center;
}

.sticky .header {
  position: fixed;
  top: 0;
  padding: 1.2rem;
  bottom: 0;
  height: 6rem;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.04);
  background-color: #e6ebee;
}

.sticky .hero {
  margin-top: 6.8rem;
}

/* /////////////////////// */
/* HERO SECTION */
/* /////////////////////// */

.hero {
  background-image: url(./img/hero-img.jpg);
  background-size: cover;
  background-position: 50% 15%;
  height: 25rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.hero-text-box h1,
.hero-text-box span,
.hero-text-box p {
  color: #eee;
}

.hero-text-box h1 {
  font-weight: 700;
}

.hero-text-box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6rem;
  margin-right: 1rem;
  /* width: 40rem; */
  height: 100%;
  font-size: 3rem;
  background-color: rgba(51, 51, 51, 0.24);
}

.hero-text-box p {
  font-weight: 500;
  font-size: 2rem;
}

/* /////////////////////// */
/* SECOND NAV */
/* /////////////////////// */

.secondary-nav {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.sec-nav-container {
  padding: 1.2rem 3.6rem;
  display: flex;
  width: 100%;
  gap: 8rem;
  font-size: 1.8rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  padding: 0.8rem;
  border-radius: 11px;
  height: 2.4rem;
  width: 2.4rem;
  background-color: #4d768b;
  color: #eee;
}

/* /////////////////////// */
/* BLOG SECTION */
/* /////////////////////// */

.blog {
  padding: 9.6rem 4.8rem;
  display: grid;
  row-gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);
}

.blog-post {
  justify-self: center;
  width: 80%;
  height: 35rem;
  overflow: hidden;
  border-radius: 11px;
  background-color: #99b1bd;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.post-img-box {
  height: 20rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-text-box {
  padding: 2.4rem;
  height: 15rem;
}

.post-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.author {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
  transition: all 0.5s ease-in-out;
}

.post-para {
  font-size: 1.6rem;
  line-height: 1.6;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.row {
  transform-origin: center;
  transition: all 1s ease-in-out;
  transform: scale(0);
  color: #333;
  margin-bottom: 1.6rem;
}

.blog-post:hover .post-img-box {
  height: 0;
  transform: scale(0);
}

.blog-post:hover .post-para {
  transform: scale(1);
}

.blog-post:hover .row {
  transform: scale(1);
}

.blog-post:hover .author {
  margin-bottom: 3.4rem;
}

/* /////////////////////// */
/* ABOUT SECTION */
/* /////////////////////// */

.about {
  padding: 1.2rem 9.6rem;
}

.abt-container {
  padding: 4.8rem 0;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  margin-bottom: 9.6rem;
}

.sec-heading {
  color: #4d768b;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.about-text-box,
.about-img-box {
  display: grid;
  padding: 4.8rem;
}

.abt-logo {
  width: 60%;
  justify-self: center;
  align-self: center;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.6;
  justify-self: center;
  align-self: center;
}

/* /////////////////////// */
/* WORK SECTION */
/* /////////////////////// */

.work {
  padding: 1.2rem 9.6rem;
}

.work-container {
  padding: 4.8rem 0;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  margin-bottom: 9.6rem;
}

.work-text {
  font-size: 3rem;
  text-transform: uppercase;
  color: #555;
  justify-self: center;
  align-self: center;
  margin-bottom: 2.4rem;
}

.work-sub-text {
  font-size: 1.6rem;
  line-height: 1.6;
  justify-self: center;
  align-self: center;
}

/* /////////////////////// */
/* FOOTER */
/* /////////////////////// */

.footer {
  padding: 9.6rem;
  border-top: 2px solid rgba(85, 85, 85, 0.219);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-item {
  justify-self: center;
  text-align: center;
}

.footer-heading {
  margin-bottom: auto;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2.4rem;
}

.contri {
  margin-top: auto;
  list-style: none;
  text-decoration: none;
  line-height: 1.8;
  font-weight: 500;
  font-size: 1.2rem;
}

.footer a {
  transition: all 0.3s ease-in-out;
}

.footer a:hover {
  transform: scale(1.2);
}

footer a:link,
footer a:visited {
  text-decoration: none;
}
